<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ac.dang_dang.mapper.TAddressMapper">

    <resultMap id="BaseResultMap" type="com.ac.dang_dang.entity.TAddress">
            <id property="addressId" column="address_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="district" column="district" jdbcType="VARCHAR"/>
            <result property="town" column="town" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>
        <update id="updates">
            update t_address
            <set>
                <if test="name != null and name!=''">
                    name=#{name},
                </if>
                <if test="mobile !=null and mobile !=''">
                    mobile=#{mobile},
                </if>
                <if test="province != null and province !=''">
                    province=#{province},
                </if>
                <if test="city !=null and city!=''">
                    city=#{city},
                </if>
                <if test="district !=null and district != ''">
                    district=#{district},
                </if>
                <if test="town !=null and town !=''">
                    town=#{town},
                </if>
                <if test="address !=null and address !=''">
                    address=#{address}
                </if>
            </set>
            where
            address_id=#{addressId}
        </update>

</mapper>
